<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.jlekstrand.wheatley"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="16" />
    <uses-feature android:glEsVersion="0x00020000"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission
            android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <application android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:debuggable="true">
        <activity android:name="WaylandActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.RUN" />
                <data android:scheme="content" />
                <data android:host="net.jlekstrand.wheatley" />
                <data android:pathPrefix="clients/" />
            </intent-filter>
        </activity>

        <activity android:name=".gui.ClientListActivity"
                  android:label="@string/app_name">
        </activity>

        <activity android:name=".gui.ClientEditActivity"
                  android:label="@string/app_name">
        </activity>

        <activity-alias android:name="ClientShortcutActivity"
                        android:targetActivity=".gui.ClientListActivity"
                        android:label="@string/app_name"
                        android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <!-- This provides us with a standard app entry point.  We can
             change it as needed if we ever change the opening activity -->
        <activity-alias android:name="MainActivity"
                        android:targetActivity=".gui.ClientListActivity"
                        android:label="@string/app_name">
            <meta-data android:name="android.app.lib_name"
                    android:value="wheatley" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <service android:name=".CompositorService"
                android:label="@string/app_name"
                android:exported="false"
                android:isolatedProcess="false" />
    </application>
</manifest>
